<!doctype html>
<html lang="pt-BR">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Escola</title>
</head>

<body>

  <div class="col-12 p-0 m-0">

    <div class="row p-0 m-0">
      <div class="col p-0 m-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-light">
          <div class="container">
            <a class="navbar-brand" href="index.php">Escola</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="index.php">Home</a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Cadastrar
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="cad_aluno.html">Aluno</a></li>
                    <li><a class="dropdown-item" href="cad_docente.html">Docente</a></li>
                    <li><a class="dropdown-item" href="cad_turma.html">Turma</a></li>
                    <li><a class="dropdown-item" href="cad_curso.html">Curso</a></li>

                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="cad_matricula.html">Matricula</a></li>
                  </ul>
                </li>

              </ul>
            </div>
          </div>
        </nav>
      </div>

    </div>



    <div class="container-fluid">
      <!-- Título -->
      <div class="row text-center text-white bg-dark">

        <div class="col">
          <h1>Cadastro do aluno</h1>
        </div>

      </div>

      <!-- Formulário -->
      <div class="row mt-5 ms-3">

        <div class="col-6">

          <div class="row">
            <div class="col">
              <h5>Nome Completo</h5>
            </div>
          </div>

          <div class="row">

            <div class="col m-2">
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="nome" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" placeholder="Insira seu nome..">
              </div>

            </div>

          </div>

          <div class="row">
            <div class="col">
              <h5>E-mail</h5>
            </div>
          </div>

          <div class="row">

            <div class="col m-2">
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="email" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" placeholder="Insira seu e-mail..">
              </div>

            </div>

          </div>

          <div class="row">
            <div class="col">
              <h5>Telefone</h5>
            </div>
          </div>

          <div class="row">

            <div class="col m-2">
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="telefone" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" placeholder="Insira seu telefone..">
              </div>

            </div>

          </div>

          <div class="row">
            <div class="col">
              <h5>Endereço</h5>
            </div>
          </div>

          <div class="row">

            <div class="col-4 m-2">
              <p>CEP</p>
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="endereco" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" placeholder="Insira seu cep..">
              </div>

            </div>

            <div class="col-4 m-2">
              <p>Rua</p>
              <div class="input-group mb-3">
                <input type="text" class="form-control " aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" placeholder="Insira sua rua..">
              </div>

            </div>



          </div>

          <div class="row">

            <div class="col-4 m-2">
              <p>Bairro</p>
              <div class="input-group mb-3">
                <input type="text" class="form-control " aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" placeholder="Insira seu bairro..">
              </div>

            </div>

            <div class="col-4 m-2">
              <p>Cidade</p>
              <div class="input-group mb-3">
                <input type="text" class="form-control " aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" placeholder="Insira sua cidade..">
              </div>

            </div>



          </div>

          <div class="row">

            <div class="col-4 m-2">
              <p>Estado</p>
              <div class="input-group mb-3">
                <input type="text" class="form-control " aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" placeholder="Insira seu estado..">
              </div>

            </div>

            <div class="col-4 m-2">
              <p>País</p>
              <div class="input-group mb-3">
                <input type="text" class="form-control " aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" placeholder="Insira seu país..">
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <button type="button" class="btn btn-dark">Cadastrar</button>
            </div>
          </div>

        </div>

        <div class="col-6">
          <img class="rounded-circle d-block" src="../assets/escola2.jpg" alt="" width="700px">
        </div>

      </div>


    </div>

  </div>








  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>